/* Question1 style key */

html, body {
  background-color: #f6dc7d;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

body > section {
  margin-bottom: 4rem;
}

p {
  font-weight: bold;
}

.all_question > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
}

.the_childs > div:nth-child(1) {
  background-color: #96ceb4;
}

.the_childs > div:nth-child(2) {
  background-color: #ff6f69;
}

.the_childs > div:nth-child(3) {
  background-color: #88d8b0;
}

.the_childs > div:nth-child(4) {
  background-color: #f5e553;
}

.the_childs > div:nth-child(5) {
  background-color: #5ecaf9;
}

.the_childs > div:nth-child(6) {
  background-color: #12b388;
}

/* Question7 has no style */

.question9 > div:nth-child(1) {
  background-color: #96ceb4;
}

.question9 > div:nth-child(2) {
  background-color: #ff6f69;
}

.question9 > div:nth-child(3) {
  background-color: #88d8b0;
}

.question9 > div:nth-child(4) {
  background-color: #f5e553;
}

/* Question11 style key */
.question11 > header {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
}

.question11 > aside {
  padding: 10px;
  text-align: left;
  font-size: 2em;
  color: #ffeead;
}

.question11 > main {
  padding: 10px;
  text-align: auto;
  font-size: 2em;
  color: #ffeead;
}

.question11 > footer {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
}

.question11 > header:nth-child(1) {
  background-color: #96ceb4;
}

.question11 > aside:nth-child(2) {
  background-color: #ff6f69;
}

.question11 > main:nth-child(3) {
  background-color: #3c96d7;
}

.question11 > footer:nth-child(4) {
  background-color: #f5e553;
}