/* This is an example of how to include the border or color layout for all the problems below:
.example {
  border: 3px solid #bbe868;
  YOUR CODE GOES HERE
} */

/*(1) Your answer goes below here for question #1 please use the border below */
/* border: 3px solid #ffcc5c; */


/*(2) Your answer goes below here for question #2 please use the border below */
/* border: 3px solid #1f2546; */


/*(3) Your answer goes below here for question #3 please use the border below */
/* border: 3px solid #e31c79; */


/*(4) Your answer goes below here for question #4 please use the border below */
/* border: 3px solid #e33618; */


/*(5) Your answer goes below here for question #5 please use the border below */
/* border: 3px solid #1f2546; */


/*(6) Your answer goes below here for question #6 please use the border below */
/* border: 3px solid #91d2e0 */


/*(7) Your answer goes below here for question #7 please use the border below */
/* border: 3px solid #139dc2; */


/*(8) Your answer goes below here for question #8 please use the border & background below */
/* border: 3px solid #7b8ac7; */
/* background-color: #bad3e2; */


/*(9) Your answer goes below here for question #9 please use the border & background below */
/* border: 3px solid #7b8ac7; */
/* background-color: #bad3e2; */


/*(10) Your answer goes below here for question #10 please use the border & background below */
/* border: 3px solid #b8f9df; */
/* background-color: #bad3e2; */


/*(11) Your answer goes below here for question #11 please use the border & background below */
/* border: 3px solid #7f798a; */
/* background-color: #bad3e2; */
